.confirm-button {
    background: rgba(0, 0, 0, 0);
    color: var(--text-primary);
    border: 1px solid var(--border);
    margin: 4px auto 8px auto;
    padding: 10px 16px;
    display: block;
    outline: none;
    font-size: 1.1rem;
    width: calc(100% - 16px);
}

.confirm-button:hover:enabled {
    cursor: pointer;
    border: 1px solid var(--border-focus);
}

.confirm-button:disabled {
    cursor: not-allowed;
    color: var(--text-disabled);
}