#rule-settings {
    max-height: 450px;
    width: 100%;
    overflow-y: auto;
}

.add-rule {
    background: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0px;
    color: var(--text-primary);
    padding: 2px;
    outline: none;
    font-weight: bold;
    font-size: 18px;
}

.add-rule:hover {
    color: #28d1b6;     /* placeholder */
    cursor: pointer;
}