.rule-entry {
    width: calc(100% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.rule-entry input {
    padding: 4px;
    margin: 3px 6px;
    width: 40%;
}

.rule-entry input::placeholder {
    text-align: center;
}

.rule-entry:not(input) {
    user-select: none;
}

.rule-entry .remove-rule {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: var(--text-primary);
    padding: 4px;
    outline: none;
    font-weight: bold;
}

.rule-entry .remove-rule:hover {
    color: #d12828;
    cursor: pointer;
}