.step-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: auto;
    padding: 0 1rem;
    width: 100%;
    height: 3rem;
    user-select: none;
}

.step-controls-title {
    font-size: 1.2rem;
    color: var(--text-primary);
    user-select: none;
    margin-bottom: -3px;
}

.step-controls .step-number {
    margin: 0 1rem;
    font-size: 1.2rem;
}

.step-controls button.step-control {
    background: rgba(0, 0, 0, 0);
    color: var(--text-primary);
    border: none;
    padding: 4px;
    margin: 3px 6px 6px 6px;
    outline: none;
    font-size: 1.1rem;
}

.step-controls button.step-control:hover:enabled {
    cursor: pointer;
    color: #28d1b6;     /* placeholder */
}

.step-controls button.step-control:disabled {
    cursor: not-allowed;
}