#axiom-settings {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: auto 0 10px 0;
}

#axiom-settings .axiom-label {
    margin-right: 10px;
}

#axiom-settings .axiom-input {
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--border);
    color: var(--text-primary);
    padding: 4px;
    margin: 3px 6px;
    width: 50%;
    outline: none;
}