#app {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    overflow: hidden;
}

.settings-panel {
    background-color: var(--bg-panel);
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
}

.settings-panel-left {
    border-right: 1px solid var(--border);
}

.settings-panel-right {
    border-left: 1px solid var(--border);
}

#main-settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.settings-title {
    margin: 5px 0 10px 0;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}

.settings-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#drawing-settings hr {
    width: 75%;
    color: var(--border);
    background: var(--border);
    margin: 20px auto;
    height: 1px;
}

input[type="number"],
input[type="text"] {
    background: var(--bg-input);
    border: 1px solid var(--border);
    color: var(--text-primary);
    outline: none;
}

input[type="number"]:disabled,
input[type="text"]:disabled {
    background: var(--bg-panel);
    color: var(--text-disabled);
}

.input-label {
    user-select: none;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border: 1px solid var(--border-focus);
}

.output-canvas-container {
    background-color: var(--bg-panel);
}

.button {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-primary);
    border: 1px solid var(--border);
    outline: none;
}

.button:not([disabled]):hover {
    cursor: pointer;
    border: 1px solid var(--border-focus);
}

.button:not([disabled]):active {
    background-color: var(--bg-input);
}

.button:disabled {
    cursor: not-allowed;
    color: var(--text-disabled);
}

.align-bottom {
    margin-top: auto;
} 

.invalid {
    border-color: #d12828 !important;
}

.invalid:focus {
    border-color: var(--border-focus) !important;
}

.disabled {
    color: #777 !important;
    cursor: not-allowed !important;
}

.output-canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .settings-panel {
        width: 25vw;
    }
}

@media screen and (max-width: 900px) {
    #app {
        flex-wrap: wrap;
    }
    
    .settings-panel-left {
        order: 2;
        flex-basis: 49%;
        flex-grow: 1;
        border-right: none;
    }
    
    .settings-panel-right {
        order: 3;
        flex-basis: 49%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 480px) {
    .settings-panel-left {
        flex-basis: 100%;
    }
    
    .settings-panel-right {
        flex-basis: 100%;
    }
}