#app {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    overflow: hidden;
}

.settings-panel {
    background-color: var(--bg-panel);
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
}

.settings-panel-left {
    border-right: 1px solid var(--border);
}

.settings-panel-right {
    border-left: 1px solid var(--border);
}

#main-settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.settings-title {
    margin: 5px 0 10px 0;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}

.settings-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.align-bottom {
    margin-top: auto;
} 

.invalid {
    border-color: #d12828 !important;
}

.invalid:focus {
    border-color: var(--border-focus) !important;
}

.disabled {
    color: #777 !important;
    cursor: not-allowed !important;
}