#app {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--bg);
    color: var(--text-primary);
    border: 1px solid var(--border);
    overflow: hidden;
}

.settings-panel {
    background-color: var(--bg-panel);
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
}

.settings-panel-left {
    border-right: 1px solid var(--border);
}

.settings-panel-right {
    border-left: 1px solid var(--border);
}

#main-settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.settings-title {
    margin: 5px 0 10px 0;
    padding: 5px;
    font-size: 1.2rem;
    text-align: center;
    user-select: none;
}

.settings-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

#drawing-settings hr {
    width: 70%;
    color: var(--border);
    background: var(--border);
    margin: 20px auto;
    height: 1px;
}

input[type="number"],
input[type="text"] {
    background: var(--bg-input);
    border: 1px solid var(--border);
    color: var(--text-primary);
    outline: none;
}

.input-label {
    user-select: none;
}

input[type="number"]:focus,
input[type="text"]:focus {
    border: 1px solid var(--border-focus);
}

.output-canvas-container {
    background-color: var(--bg-panel);
}

.revert-button {
    display: block;
    padding: 8px 12px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-primary);
    border: 1px solid var(--border);
    outline: none;
    font-size: 0.8rem;
}

.align-bottom {
    margin-top: auto;
} 

.invalid {
    border-color: #d12828 !important;
}

.invalid:focus {
    border-color: var(--border-focus) !important;
}

.disabled {
    color: #777 !important;
    cursor: not-allowed !important;
}